# 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# 2. Features to be Used

Below are the preliminary features that will be used to build the model. More will be added on afterwards.

**Fatigue**
- Days since last match

**Home Team Form**
- Goals difference of home team in the last x matches    
- Goals difference of home team in the last x home matches    
- Average number of points gained by home team in the last x matches
- Number of home matches won by home team in its last x home matches
- Home Team Win streak  
- Home Team Newly Promoted Team?

**Away Team Form**
- Goals difference of away team in the last x matches  
- Goals difference of away team in the last x away matches
- Average number of points gained by away team in the last x matches
- Number of away matches won by away team in its last x away matches
- Away Team Win streak
- Away Team Newly Promoted Team?

**Home Team Performance Index**
- Home Defense Performance Index
- Home Midfield Performance Index
- Home Attack Performance Index

**Away Team Performance Index**
- Away Defense Performance Index
- Away Midfield Performance Index
- Away Attack Performance Index

**Betting Odds**
- B365H
- B365D
- B365A

In [98]:
df = pd.read_csv('datasets/dataset.csv')
df[df['HomeTeam'] == 'newcastle'].head(10)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,Result,HxG,AxG,HPoss,HDaysLastPlayed,ADaysLastPlayed
9,2017-08-13,newcastle,tottenham,0,2,6,18,3,6,6,10,5,7,1,2,1,0,5.50,4.00,1.70,L,0.8,2.5,28.0,10,10
24,2017-08-26,newcastle,west-ham,3,0,16,8,8,3,17,11,7,5,1,3,0,0,2.30,3.40,3.40,W,2.3,0.6,37.0,3,3
44,2017-09-16,newcastle,stoke,2,1,14,13,3,4,13,11,7,5,3,1,0,0,2.38,3.25,3.40,W,2.0,0.7,42.0,6,7
69,2017-10-01,newcastle,liverpool,1,1,8,17,5,2,11,6,1,5,1,1,0,0,5.00,3.80,1.67,D,0.3,1.3,33.0,7,5
84,2017-10-21,newcastle,palace,1,0,7,10,3,0,12,14,3,5,4,2,0,0,2.00,3.50,4.20,W,0.3,0.5,54.0,6,7
101,2017-11-04,newcastle,bournemouth,0,1,16,16,4,6,11,12,11,9,2,2,0,0,2.00,3.50,4.20,L,0.7,1.5,48.0,5,7
124,2017-11-25,newcastle,watford,0,3,12,12,2,4,8,13,6,3,1,2,0,0,2.20,3.50,3.50,L,0.9,2.0,53.0,7,6
153,2017-12-09,newcastle,leicester,2,3,10,13,4,5,10,9,6,5,2,1,0,0,2.62,3.29,2.89,L,0.9,0.5,38.0,7,7
165,2017-12-13,newcastle,everton,0,1,16,7,4,4,10,11,4,1,1,2,1,0,2.39,3.29,3.25,L,0.8,1.2,55.0,4,3
198,2017-12-27,newcastle,city,0,1,6,22,2,6,11,6,3,8,1,0,0,0,13.00,6.75,1.25,L,0.2,1.8,23.0,4,4

# 3. EDA

# 4. Feature Engineering

## Goals difference of home team in the last x matches

In [90]:
df['HomeTeam'].unique()

array(['arsenal', 'brighton', 'chelsea', 'palace', 'everton',
       'southampton', 'watford', 'west-brom', 'united', 'newcastle',
       'bournemouth', 'burnley', 'leicester', 'liverpool', 'stoke',
       'swansea', 'huddersfield', 'tottenham', 'city', 'west-ham',
       'fulham', 'wolves', 'cardiff', 'aston-villa', 'norwich',
       'sheffield', 'leeds', 'brentford'], dtype=object)

In [91]:
temp_df = pd.DataFrame()

for team in df['HomeTeam'].unique():
    team_df = df[df['HomeTeam'] == team]
    
    number_of_previous_matches = 5
    column = 0;

    for i in range(1, number_of_previous_matches+1):
        column += team_df['FTHG'].shift(i)

    team_df['HxGD'] = column
    temp_df = pd.concat([temp_df, team_df]).reset_index(drop=True)

C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column
C:\Users\choibs\AppData\Local\Temp\ipykernel_3108\1021562531.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_df['HxGD'] = column

In [104]:
df = temp_df
df.head(20)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,Result,HxG,AxG,HPoss,HDaysLastPlayed,ADaysLastPlayed,HxGD
0,2017-08-11,arsenal,leicester,4,3,27,6,10,3,9,12,9,4,0,1,0,0,1.53,4.50,6.50,W,2.5,1.5,68.0,5,10,NaN
1,2017-09-09,arsenal,bournemouth,3,0,17,7,9,2,14,10,10,3,0,1,0,0,1.36,5.50,9.00,W,2.2,0.6,58.0,10,10,NaN
2,2017-09-25,arsenal,west-brom,2,0,16,7,6,3,8,17,7,4,1,4,0,0,1.33,5.50,11.00,W,2.2,0.9,69.0,5,5,NaN
3,2017-10-01,arsenal,brighton,2,0,25,9,12,1,7,8,6,5,0,2,0,0,1.20,6.50,13.00,W,2.4,0.4,64.0,3,7,NaN
4,2017-10-28,arsenal,swansea,2,1,17,4,5,2,9,9,5,2,0,0,0,0,1.25,7.00,12.00,W,2.0,0.9,72.0,4,4,NaN
5,2017-11-18,arsenal,tottenham,2,0,14,14,5,4,11,16,7,4,4,1,0,0,2.50,3.60,2.89,W,2.1,0.7,43.0,10,10,13.0
6,2017-11-29,arsenal,huddersfield,5,0,21,7,7,2,10,12,7,2,0,1,0,0,1.19,7.50,17.00,W,4.0,0.5,69.0,3,3,11.0
7,2017-12-02,arsenal,united,1,3,33,8,15,4,11,10,12,1,3,2,0,1,2.50,3.39,3.00,L,4.7,1.8,75.0,3,4,13.0
8,2017-12-16,arsenal,newcastle,1,0,23,10,5,2,13,9,7,5,2,1,0,0,1.25,6.50,14.00,W,1.8,0.3,71.0,3,3,12.0
9,2017-12-22,arsenal,liverpool,3,3,11,14,4,9,9,11,7,8,1,0,0,0,2.54,3.60,2.79,D,1.2,2.0,54.0,3,5,11.0
10,2018-01-03,arsenal,chelsea,2,2,14,19,6,6,11,11,10,8,3,2,0,0,2.60,3.39,2.60,D,1.2,3.0,58.0,3,4,12.0
11,2018-01-20,arsenal,palace,4,1,16,9,10,5,6,8,5,10,0,0,0,0,1.50,4.75,7.00,W,2.9,0.6,63.0,6,7,12.0
12,2018-02-03,arsenal,everton,5,1,15,11,7,2,8,8,4,6,2,0,0,0,1.30,5.75,12.00,W,2.6,1.2,57.0,4,3,11.0
13,2018-03-01,arsenal,city,0,3,10,9,5,5,11,11,6,1,1,1,0,0,4.50,4.00,1.72,L,1.3,1.5,46.0,4,4,15.0
14,2018-03-11,arsenal,watford,3,0,11,11,7,4,12,9,4,9,2,1,0,0,1.44,5.00,7.50,W,2.2,1.4,59.0,3,8,14.0
15,2018-04-01,arsenal,stoke,3,0,24,8,11,2,9,13,6,5,1,2,0,0,1.28,5.50,10.00,W,3.3,0.4,69.0,10,10,14.0
16,2018-04-08,arsenal,southampton,3,2,13,15,7,8,11,7,8,6,2,1,1,1,1.57,4.50,6.00,W,1.6,2.0,64.0,3,8,15.0
17,2018-04-22,arsenal,west-ham,4,1,20,11,8,4,11,9,8,6,3,2,0,0,1.55,4.59,6.00,W,1.8,0.8,67.0,7,6,14.0
18,2018-05-06,arsenal,burnley,5,0,16,6,8,2,6,7,4,5,0,1,0,0,1.57,4.20,6.50,W,2.6,0.3,63.0,3,8,13.0
19,2018-08-12,arsenal,city,0,2,9,17,3,8,11,14,2,9,2,2,0,0,4.00,3.80,1.95,L,0.5,1.7,42.0,7,7,18.0