# 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# 2. Import Dataset

In [13]:
df = pd.read_csv('datasets/finalized_dataset.csv')
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,Result,HxG,AxG,HPoss,HDaysLastPlayed,ADaysLastPlayed,HxGD in Last 5 Matches,HxGD in Last 5 Home Matches,HAvgPts in Last 5 Matches,HAvgPts in Last 5 Home Matches,AxGD in Last 5 Matches,AxGD in Last 5 Away Matches,AAvgPts in Last 5 Matches,AAvgPts in Last 5 Away Matches,HDef,HMid,HAtt,ADef,AMid,AAtt
0,2017-08-11,arsenal,leicester,4,3,27,6,10,3,9,12,9,4,0,1,0,0,1.53,4.50,6.50,W,2.5,1.5,68.0,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82,83,81,76,78,79
1,2017-08-26,united,leicester,2,0,22,11,7,4,8,7,9,3,1,2,0,0,1.33,5.50,11.00,W,2.8,0.9,69.0,7,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82,84,84,76,78,79
2,2017-09-16,huddersfield,leicester,1,1,15,10,3,1,6,6,8,4,1,1,0,0,3.50,3.40,2.25,D,0.7,1.3,59.0,5,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71,70,70,76,78,79
3,2017-09-30,bournemouth,leicester,0,0,19,8,4,1,6,10,7,5,1,0,0,0,2.80,3.25,2.50,D,1.4,0.6,61.0,7,7,-6.0,NaN,0.6,NaN,-2.0,NaN,0.8,NaN,75,74,76,76,78,80
4,2017-10-21,swansea,leicester,1,2,19,11,4,6,6,9,7,6,0,1,0,0,2.79,3.25,2.75,L,0.8,1.9,56.0,7,5,-1.0,NaN,0.8,NaN,-2.0,NaN,0.6,NaN,75,77,76,76,78,79

In [14]:
df.drop(df.iloc[:, :17], inplace=True, axis=1)
df.drop(['HxG', 'AxG', 'HPoss'], axis=1, inplace=True)
df.head()

,B365H,B365D,B365A,Result,HDaysLastPlayed,ADaysLastPlayed,HxGD in Last 5 Matches,HxGD in Last 5 Home Matches,HAvgPts in Last 5 Matches,HAvgPts in Last 5 Home Matches,AxGD in Last 5 Matches,AxGD in Last 5 Away Matches,AAvgPts in Last 5 Matches,AAvgPts in Last 5 Away Matches,HDef,HMid,HAtt,ADef,AMid,AAtt
0,1.53,4.50,6.50,W,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82,83,81,76,78,79
1,1.33,5.50,11.00,W,7,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82,84,84,76,78,79
2,3.50,3.40,2.25,D,5,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71,70,70,76,78,79
3,2.80,3.25,2.50,D,7,7,-6.0,NaN,0.6,NaN,-2.0,NaN,0.8,NaN,75,74,76,76,78,80
4,2.79,3.25,2.75,L,7,5,-1.0,NaN,0.8,NaN,-2.0,NaN,0.6,NaN,75,77,76,76,78,79

# 2. Model Building

In [15]:
df.columns

Index(['B365H', 'B365D', 'B365A', 'Result', 'HDaysLastPlayed',
       'ADaysLastPlayed', 'HxGD in Last 5 Matches',
       'HxGD in Last 5 Home Matches', 'HAvgPts in Last 5 Matches',
       'HAvgPts in Last 5 Home Matches', 'AxGD in Last 5 Matches',
       'AxGD in Last 5 Away Matches', 'AAvgPts in Last 5 Matches',
       'AAvgPts in Last 5 Away Matches', 'HDef', 'HMid', 'HAtt', 'ADef',
       'AMid', 'AAtt'],
      dtype='object')

In [16]:
df = df[['HDaysLastPlayed', 'ADaysLastPlayed', 
         'HxGD in Last 5 Matches', 'HxGD in Last 5 Home Matches', 'HAvgPts in Last 5 Matches', 'HAvgPts in Last 5 Home Matches', 
         'AxGD in Last 5 Matches', 'AxGD in Last 5 Away Matches', 'AAvgPts in Last 5 Matches','AAvgPts in Last 5 Away Matches', 
         'HDef', 'HMid', 'HAtt', 'ADef', 'AMid', 'AAtt',
         'B365H', 'B365D', 'B365A',
         'Result'
        ]]
df.head()

,HDaysLastPlayed,ADaysLastPlayed,HxGD in Last 5 Matches,HxGD in Last 5 Home Matches,HAvgPts in Last 5 Matches,HAvgPts in Last 5 Home Matches,AxGD in Last 5 Matches,AxGD in Last 5 Away Matches,AAvgPts in Last 5 Matches,AAvgPts in Last 5 Away Matches,HDef,HMid,HAtt,ADef,AMid,AAtt,B365H,B365D,B365A,Result
0,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82,83,81,76,78,79,1.53,4.50,6.50,W
1,7,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82,84,84,76,78,79,1.33,5.50,11.00,W
2,5,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71,70,70,76,78,79,3.50,3.40,2.25,D
3,7,7,-6.0,NaN,0.6,NaN,-2.0,NaN,0.8,NaN,75,74,76,76,78,80,2.80,3.25,2.50,D
4,7,5,-1.0,NaN,0.8,NaN,-2.0,NaN,0.6,NaN,75,77,76,76,78,79,2.79,3.25,2.75,L

## 2.1 Descision Tree Classifier

## 2.2 SVM Classifier